{% set title = "" %}
{% if not(title) %}

{% endif %}
<!doctype html>
<html lang="ru">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;subset=cyrillic" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css">


	<!-- Owl carousel -->
	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<!-- Custom css -->
	<link rel="stylesheet" href="css/stylesheet.css">

	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>


	<title>{{ title }}</title>
</head>
<body>


{% block content %}{% endblock %}


<!-- jQuery -->
<script src="libs/jquery/jquery.min.js"></script>

<!-- Owl carousel -->
<script src="libs/owlcarousel/owl.carousel.min.js"></script>

<!-- custom -->
<script src="js/main.js"></script>


</body>
</html>
