.big-btn-buy {
  display: none;
}
.shop__order-block .input-with-img {
	margin-left: 45px;
}
.order__order-block {
	margin-top: 55px;
}
.shop__order-blockCenter {
	margin: 40px auto;
}
.delivery__order-block-cart {
	width: 45%;
}
.owl-carousel5 {
	max-width: 100%;
}
.page-content__social {
	margin-right: 15px;
}
.page-content__socialShop {
	margin-top: 60px;
}
