
.bg-masthead {
	height: 680px;
}

.nav-top-item__phone__text {
	display: none;
}
.nav-top-item__phone__text2 {
	display: none;
}
.nav-top-img {
	margin-top: 20px;
	margin-bottom: 15px;
}
.nav-top-item-logo__img  {
	max-width:  165px;
}
.big-btn-buy {
  display: none;
}
.masthead-description-price {
  font-size: 40px !important;
}
.masthead {
	padding: 50px 15px 30px 15px;
}
.masthead-description__header-wrap {
	margin-top: 0px;
	margin-right: 0;
	max-width: none;
}

.btn-accent {
	padding: 20px 60px;
	margin-top: 120px;
}
.btn-accent2 {
	margin-top: 25px;
}

.masthead-side-top {
	margin-bottom: 0;
	padding: 0;
	margin-left: 25px;
}

.masthead-desc-bottom {
	margin: 80px 0;
	padding: 0px 0px;
}
.masthead-description__desc-wrap {
	padding-right: 0;
}
.masthead-description__desc-wrap::after {
	margin-top: 50px;
}
.design-specification_marginTop {
	margin-top: 0;
}
.form-order-who-wrap {
	width: 100%;
	margin-bottom: 0px;
}
.shop__product-gallery_btnItem1 {
	margin-top: -2px;
	margin-left: 2px;
}
.shop__product-gallery_btnItem2 {
	margin-left: 3px;
}
.shop__product-gallery_btnItem3 {
	margin-top: -1px;
	margin-left: -1px;
}
.features__header h2{
	line-height: 50px;
}
.shop__order-block {
	width: 70%;
	margin-top: 50px;
}
.shop__order-blockCenter {
	margin: 40px auto;
}
.shop__product-gallery {
	width: 100%;
}
.shop__product-gallery-cart {
	width: 100%;
}
.order-slider .img-wrapper img {
	width: 93%;
	margin-left: 15px;
	margin-top: 50px;
}
.shop__order-block .input-with-img input {
	margin-left: -30px;
}
.shop__order-block .btn-absolute-wrapper {
	right: 0;
	margin-right: -15px;
	top: 8;
}

.btn-order-linkOrder {
	position: absolute;
	width: 100%;
	margin-top: 250px;
}
.order-slider .preview-wrapper {
	margin-top: 105px;
	margin-right: 15px;
}

.menu-main-top__item {
	width: 33%;
}

.shop__desc-sectionTitle {
	margin-top: 30px;
}
.nav-top-item__phone2 {
	width: 100px;
}
.footer__name {
	font-size: 12px;
}
.footer__contacts,.footer__menu, .footer__about  {
	width: 33%;
}
.footer__name  {
	position: absolute;
	bottom: 0;
	left: 0;
}
iframe {
	margin: 0 auto;
}
.footerTop_img {
	display: none;
}
.footerTop_title {
	font-size: 30px;
}
.page-content__social {
	margin-right: 25px;
}
.btn-order-linkCart {
	width: 100%;
}
.shop__order-block-cart {
	width: 50%;
	margin-top: 60px;
	
}
.delivery__order-block-cart {
	min-width: 385px;
	width: 65%;
}
.delivery_float {
	margin-top: 30px;
}
.delivery__order-block-cart {
	margin-top: 10px;
}
.page-content2 {
	padding: 0;
}
.shop__order-block .input-with-img input {
	position: relative;
	width: 126px;
	margin-top: 0px;
	margin-right: 50px;
	margin-left: 45px;
}
.shop__order-block .btn-absolute-wrapper {
	position: absolute;
	right: -40px;
	top: 7px;
}
.delivery__order-block-cart {
	padding: 0 0;
}
.shop__order-blockNew {
	padding: 0 0;
	margin-top: -40px;
 }
 .delivery__order-block-cart {
	padding: 0 0;
	margin-top: 30px;
}
.delivery-order-link {
	position: relative;
	margin-top: 0;
}
.feature-grid__row-block__inner {
	margin: 170px 0;
}

