<div class="shop__order-block shop__order-block-cart">
  <form action="#">
    <p class="fz-14 m-0 lh-1">
			<b>Итого:</b> 
			<span class="shop__order-block_quantityItem">
				<span class="shop__order-block_gray">3 товара </span> х 3900 ₽</span>
			<span id="price_for_one" style="display: none;">3900</span>
		</p>
		<div class="row">
			<div class="col">
					<div class="shop__order-block-totalPrice">
						11 700 <span>₽</span>
					</div>
			</div>
		</div>
    <a href="order.html" class="btn-order-link btn-order-linkCart btn-order-link-buy"><span>Оформить заказ</span></a>

	</form>
	
</div>