<div class="design__wrap">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="design" class="section design">
          <div class="section__header">
            <h2>Простой дизайн: ничего лишнего</h2>
          </div>
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10">
							<div class="section__desc">
								<div class="design__desc_wrap design__desc_wrap2">
									<p>Мы ценим минимализм и эргономику, поэтому постарались избежать всего лишнего в конструкции Какаду. Это максимально простое и надежное устройство, созданное с целью хранить ваши данные с гарантированной безопасностью.</p>
								</div>
							</div>
						</div>
					</div>
          

          <div class="tabs-container">
            <!-- Tab links -->
            <div class="tab">
              <a href="#" class="tablinks" onclick="openTab(event, 'tab-static')"><span>СОБРАТЬ</span></a>
              <a href="#" class="tablinks" onclick="openTab(event, 'tab-build')"><span>РАЗОБРАТЬ</span></a>
              <a href="#" class="tablinks" onclick="openTab(event, 'tab-scheme')"><span>СХЕМА</span></a>
            </div>

            <div class="tabs_wrap">
              <!-- Tab content -->
              <div id="tab-static" class="tabcontent responsive mb-30" style="display: block;">
                <img src="img/design/kakadu-build-static.png" alt="" class="responsive">
              </div>

              <div id="tab-build" class="tabcontent responsive mb-30" style="display: none;">
                <img src="img/design/kakadu-rasborka.gif" alt="" class="responsive">
              </div>

              <div id="tab-scheme" class="tabcontent responsive mb-30" style="display: none;">
                <div class="tab-scheme-wrap">
                  <img src="img/design/kakadu-scheme-2.png" alt="" class="responsive">
                </div>
              </div>
            </div>

          </div>

          <div class="design-specification">
            <div class="container">
              <div class="row justify-content-center no-gutters">
                <div class="col-lg-3">
                  <h4 class="design-specification_margin">Размер и вес</h4>
                  <p>Размер: 89мм x 18мм x 11,5мм <br>
                    Вес: 16 г.</p>
								</div>
								<div class="col-lg-5">
										<h4 class="design-specification_margin ">Совместимость</h4>
										<p>Windows (7+), Mac (10.9+), Linux, iOS, Android <br>
											USB порт для подключения Kakadu <br>
											Дополнительных драйверов не требуется</p>
										<h4 class="design-specification_margin design-specification_marginTop">Комплект поставки</h4>
										<p>— Аппаратный менеджер паролей «Какаду» <br>
											— USB удлинитель <br>
											— Инструкция
										</p>
								</div>
                
								
                <div class="col-lg-4">
                  <h4 class="design-specification_margin">Электроника</h4>
                  <p>Микроконтроллер: ARM Cortex-M3 72MHz <br>
                    Память: более 4000 записей (логин, пароль, URL) <br>
                    Питание: от USB, аккумуляторов не требуется. <br>
                    Разъем: USB-A <br>
                    Дисплей: 128x32 пикселей, монохромный 0,91’ OLED <br>
                    Ввод: 2 кнопки, колесо-энкодер <br>
                    Материал корпуса: пластик</p>
                </div>
               
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
