
<div class="container-fluid  no-gutters">
	<div class="row">

		<div class="col-md-6 red">
				<div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
					<div class="feature-grid__row-block">
						<div class="feature-grid__row-block__inner">
							<div class="feature-grid__row-block__inner__icon-wrapper">
								<img src="img/icons/icon-bug.png" alt="">
							</div>
							<h4>Работа с облачными сервисами <br>полна опасности</h4>
							<p>Данные, хранящиеся в интернете, можно скопировать и украсть. Онлайн-сервисы хранения паролей можно взломать, отключить сервера, закрыть без предупреждения, их невозможно использовать без интернета. Это небезопасно для ваших данных.</p>
						</div>
					</div>
				</div>
		</div>
		<div class="col-md-6 green">
					<div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1  col-sm-10 offset-sm-1">
						<div class="feature-grid__row-block feature-grid__row-block--right">
								<div class="feature-grid__row-block__inner feature-grid__row-block__inner--right">
									<div class="feature-grid__row-block__inner__icon-wrapper feature-grid__row-block__inner__icon-wrapper--right">
										<img src="img/icons/icon-ok.png" alt="">
									</div>
									<h4>Храните данные <br>офлайн</h4>
									<p>Храните важные данные офлайн на флешке Какаду. Какаду – самый безопасный способ хранения и передачи паролей. Это защищенное физическое устройство, которое нельзя взломать через интернет или зараженный компьютер.</p>
								</div>
							</div>
						</div>
					</div>
		</div>
		
	</div>
</div>
			



