<div class="container-fluid bg-blue">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="features" class="section features">
          <div class="features__header">
            <h2>Возможности Крипто Какаду</h2>
          </div>
          <div class="features-wrap">
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-star-gray.png" alt="" class="">
              </div>
              <p>Автоматический <br> ввод паролей</p>
            </div>
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-charge-gray.png" alt="" class="">
              </div>
              <p>Не требует зарядки, <br> питание через USB</p>
            </div>
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-without-internet-gray.png" alt="" class="">
              </div>
              <p>Не требует подключения к интернету</p>
            </div>
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-remember-gray.png" alt="" class="">
              </div>
              <p>Достаточно помнить только один PIN-код</p>
            </div>
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-backup-gray.png" alt="" class="">
              </div>
              <p>Защищенные резервные копии</p>
            </div>
            <div class="features__item">
              <div class="features__item__img">
                <img src="img/icons/icon-features-devices-gray.png" alt="" class="">
              </div>
              <p>Совместим с любыми устройствами</p>
            </div>
          </div>
          <a href="features.html" class="btn btn-accent btn-accent3">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>