<div class="risk-item">
  <div class="tip-wrap">
    <div class="tip">
      <p>Низский риск</p>
    </div>
  </div>
  <div class="gauge">
    <img src="img/gauge.png" alt="">
  </div>
  <div class="name">
    <a href="#">Стрессовое расстройство</a>
  </div>
</div>