{#<div class="container-fluid">#}
  {#<div class="row no-gutters">#}
    {#<div class="col-md-6">#}
      {#<div class="feature-grid__row-block">#}
        {#<div class="feature-grid__row-block__inner">#}
          {#<div class="feature-grid__row-block__inner__icon-wrapper">#}
            {#<img src="img/icons/icon-bug.png" alt="">#}
          {#</div>#}
          {#<h4>Работа с облачными сервисами полна опасности</h4>#}
          {#<p>Данные, хранящиеся в интернете, можно скопировать и украсть. Онлайн-сервисы хранения паролей можно взломать, отключить сервера, закрыть без предупреждения, их невозможно использовать без интернета. Это небезопасно для ваших данных.</p>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
    {#<div class="col-md-6">#}

    {#</div>#}
  {#</div>#}
{#</div>#}

