<div class="container-fluid bg-masthead">
	<div class="container ">
		<div class="row">
			<div class="col">
				<div  class="masthead">
					{# <div class="masthead__social">
						<div class="masthead__social_item  d-flex align-items-center  justify-content-center">
							<a href="#">
									
									<i class="fab fa-vk"></i>
							</a>
						</div>
						<div class="masthead__social_item  d-flex align-items-center  justify-content-center">
								<a href="#">
										
										<i class="fab fa-facebook-f"></i>
								</a> 
							</div>
							<div class="masthead__social_item  d-flex align-items-center  justify-content-center">
								<a href="#">
										<i class="fas fa-share-alt"></i>
								</a>	
								</div>
					</div> #}
					<div class="masthead-side-top">
						<div class="masthead-device-image">
							<img src="img/masthead/kakadunew.png" alt="" class="responsive">
						</div>
						<div class="masthead-description">
							<div class="masthead-description__header-wrap">
								<h1>Crypto Kakadu — устройство <br> 
								для безопасного хранения и ввода данных</h1>
							</div>
							<div class="masthead-description__header-wrap ">
								<h1 class="masthead-description-price">2900 рублей</h1>
							</div>

							<div class="masthead-feature-container">
								<div class="masthead-feature">
									<div class="masthead-feature__img-wrap">
										<img src="/img/starr.png" alt="">
									</div>
									<div class="masthead-feature-desc">
										<p>Заменяет облачные сервисы, блокнот и клавиатуру.</p>
									</div>
								</div>
								<div class="masthead-feature">
									<div class="masthead-feature__img-wrap">
										<img src="/img/no-inet.png" alt="">
									</div>
									<div class="masthead-feature-desc">
										<p>Всегда под рукой и не требует доступа к интернету.</p>
									</div>
								</div>
							</div>
							<div>
								<div>
										<a href="shop.html" class="btn  btn-accent btn-accent1">
												Купить
											</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

