<!-- Modal_Usage_Daily -->
<div id="Modal_Usage_Daily" class="situations__item__modal__bg">
  <div class="situations__item__modal situations__item__modal1">
    {% import 'macros/close-cross.njk' as cross %}
    {{cross.close('Modal_Usage_Daily')}}
    <div class="situations__item__modal__image ">
      <img src="/img/situations/lady.jpg" alt="">
    </div>
    <div class="situations__item__modal__wrap">
      <div class="situations__item__modal__name">
        <h2>Повседневное использование</h2>
      </div>
      <div class="situations__item__modal__text">
        <p>Какаду – это стильный и полезный гаджет для любого пользователя интернета. Какаду надежно сохранит и самостоятельно введет аутентификационные данные в ВКонтакте, Одноклассники, Facebook, Twitter, электронную почту, YouTube и любые другие приложения, которыми мы пользуемся каждый день.</p>
        <p>На Какаду можно зашифрованно хранить данные своих банковских карт – номер, дату, cvv код – и безопасно вводить их в моменты оплаты. Это намного надежнее автосохранения в браузере или постоянного вбивания данных вручную при каждой покупке, когда их могут перехватить, подглядеть, а карту вырвать из рук.</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal_Usage_Geek -->
<div id="Modal_Usage_Geek" class="situations__item__modal__bg">
  <div class="situations__item__modal">
    {% import 'macros/close-cross.njk' as cross %}
    {{cross.close('Modal_Usage_Geek')}}
    <div class="situations__item__modal__image">
      <img src="img/situations/man.jpg" alt="">
    </div>
    <div class="situations__item__modal__wrap">
      <div class="situations__item__modal__name">
        <h2>Крутой технологичный подарок</h2>
      </div>
      <div class="situations__item__modal__text">
        <p>В век постоянных утечек данных и взломов любых облачных сервисов настоящий айтишник или технарь будет рад надежной «железке» с передовыми алгоритмами безопасности, которая не только защитит его данные, но и будет элегантным гаджетом, который приятно использовать и носить с собой.</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal_Usage_Business -->
<div id="Modal_Usage_Business" class="situations__item__modal__bg">
  <div class="situations__item__modal">
    {% import 'macros/close-cross.njk' as cross %}
    {{cross.close('Modal_Usage_Business')}}
    <div class="situations__item__modal__image">
      <img src="/img/situations/cowork.jpg" alt="">
    </div>
    <div class="situations__item__modal__wrap">
      <div class="situations__item__modal__name">
        <h2>Инструмент для бизнеса</h2>
      </div>
      <div class="situations__item__modal__text">
        <p>Какаду поможет, если вы часто имеете дело с информацией, имеющую высокую корпоративную или личную ценность и заинтересованы в ее безопасном хранении и возможной передаче другим лицам. Такие сведения небезопасно передавать или хранить в открытом виде. С крипто-флешкой Какаду вы можете быть уверенным в безопасности передаваемых данных.</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal_Usage_Digital -->
<div id="Modal_Usage_Digital" class="situations__item__modal__bg">
  <div class="situations__item__modal">
    {% import 'macros/close-cross.njk' as cross %}
    {{cross.close('Modal_Usage_Digital')}}
    <div class="situations__item__modal__image">
      <img src="/img/situations/sitiation.jpg" alt="">
    </div>
    <div class="situations__item__modal__wrap">
      <div class="situations__item__modal__name">
        <h2>Помощник digital-маркетолога</h2>
      </div>
      <div class="situations__item__modal__text">
        <p>Быстро и безопасно перелогинивайтесь между своими интернет-магазинами, группами в соцсетях или аккаунтами в инстаграме. Презентация проекта заказчику, командировка в филиалы или неожиданный фриланс на отдыхе – Какаду всегда будет рядом со всеми важными данными для работы.</p>
        <p>Аппаратный менеджер паролей – отличное решение, когда приходится выполнять работу или заходить в личные сервисы на сторонних устройствах, особенно если нет возможности выйти в интернет.</p>
      </div>
    </div>
  </div>
</div>


{# <!-- Modal_Usage_Bitcoin -->
<div id="Modal_Usage_Bitcoin" class="situations__item__modal__bg">
  <div class="situations__item__modal">
    {% import 'macros/close-cross.njk' as cross %}
    {{cross.close('Modal_Usage_Bitcoin')}}
    <div class="situations__item__modal__image">
      <img src="/img/situations/bitok.png" alt="">
    </div>
    <div class="situations__item__modal__wrap">
      <div class="situations__item__modal__name">
        <h2>Работа с криптовалютами</h2>
      </div>
      <div class="situations__item__modal__text">
        <p>Какаду идеален для работы с онлайн криптокошельками. Он надежно сохранит длинные уникальные ключи и пароли от криптокошельков и бирж криптовалют.</p>
        <p>Какаду – это не аппаратный криптокошелек, когда физическое устройство по сути является токеном для программного сервиса или онлайн криптокошелька. Напротив, Какаду не привязан к конкретному сервису или валюте и позволяет пользоваться множеством кошельков и бирж одновременно.</p>
      </div>
    </div>
  </div>
</div> #}


