{# <div class="shop__order-block">
		<p class="fz-14 m-0 lh-1"><b>Итого:</b> 
			<span class="shop__order-block_gray">Розничная цена  без учета доставки</span><span id="price_for_one" style="display: none;">3900</span></p>
    <div class="shop__price-count">
      <div class="shop__initial-price-wrap mb-20">
        <span class="shop__initial-price fz-48 fw-sbold "><span id="order-total"></span><span class="fw-light">&nbsp;₽</span></span>
        <div class="input-with-img">
          <input id="input_count" class="input-rounded" type="number" value="1" min="1">
          <div class="btn-absolute-wrapper">
            <button id="" class="btn-img"><img src="img/controls/icon-minus-circle.png" alt=""></button>
            <button id="" class="btn-img"><img src="img/controls/icon-plus-circle.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
     <div class="shop__color-picker mb-35">
      <div class="shop__color-picker__name"><p>Выберите цвет: </p></div>
      <div class="shop__color-picker__item">
        <label class=" custom-radio custom-radio--c-black custom-radio--active mr-10">
          <input type="radio" value="black" checked="checked" name="device-color-radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="shop__color-picker__item">
        <label class="custom-radio custom-radio--c-white ">
          <input type="radio" value="white" name="device-color-radio">
          <span class="checkmark"></span>
        </label>
				
      </div>
      <div class="shop__color-picker__item">
        <label class="custom-radio custom-radio--c-blue ">
          <input type="radio" value="blue" name="device-color-radio">
          <span class="checkmark"></span>
        </label>
      </div>
		</div>
   
		<div class="sales-b2b">
    <div class="img-wrap">
      <img src="img/icons/order-sale.png" alt="">
    </div>
    <div class="sales-b2b__text-wrap">
      <a href="partners.html">Получить скидки для партнеров
        и корпоративных клиентов</a>
    </div>
  </div>
</div> #}
<div class="shop__order-block   shop__order-block-cart shop__order-blockNew shag__order-block">
  <form action="#" class="order-block_form">
    <p class="fz-14 m-0 lh-1">
			<span class="order-block_formTitleSide"><b>Итого</b> </span>	
			<span class="shop__order-block_quantityItem">
				<span class="shop__order-block_gray shop__order-block_link"><a href="cart.html"> 3 товара</a> </span> х 3900 ₽</span>
			<span id="price_for_one" style="display: none;">3900</span>
		</p>
		
    {# <a href="order.html" class="btn-order-link btn-order-linkCart btn-order-link-buy"><span>Оформить заказ</span></a> #}

	</form>
	<div class="row">
			<div class="col">
					<div class="shop__order-block-totalPrice shop__order-block-totalPriceOrder">
						11 700 <span>₽</span>
					</div>
			</div>
		</div>
		<div class="cartLinktoShop cartLinktoBin">
			<img src="/img/arrow-left-thin.png" alt="">
		<a href="cart.html">
			Вернуться в корзину
		</a>
</div>

</div>
