<div class="protect__wrap bg-blue">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="protect" class="section protect">
          <div class="section__image">
            <img src="img/icons/icon-features-safe-big.png" alt="" class="responsive">
          </div>
          <div class="section__header protect__header">
            <h2 class="section-header">Надежные алгоритмы безопасности</h2>
          </div>
          <div class="section__desc protect__desc">
            <p>Алгоритмы шифрования и защиты данных в Какаду разработаны и протестированы экспертами в области защиты данных. </p>
            <p>Какаду не передаст информацию сторонним лицам даже если его попытаются взломать, заразить вирусом, украдут или вы случайно его потеряете.</p>
          </div>
          <a href="protect.html" class="btn btn-accent btn-accent2">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>