<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col">
      <div id="situations" class="situations">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-12">
						<div class="situations__header">
							<h2>В каких ситуациях пригодится</h2>
						</div>
					</div>
					
				 <div class="col-xl-6 col-lg-8 col-9 d-flex justify-content-center">
						<div class="situations__desc">
							<div class="situations__desc_wrap">
								<p>Какаду – это переносной сейф, который всегда будет с вами, сохранит ценную информацию от потери или кражи и сам введет пароли в нужные формы, защитив их от любопытных глаз.</p>
							</div>
						</div>
				 </div>
				</div>
        

        <div class="situations_wrap">

          <div class="situations__item situations__item_left">
            <div class="situations__item__img-wrap  situations__item__img-wrap1 menu">
              <a id="situation_img"	href="#" onclick="openModal('Modal_Usage_Daily'); return false;"><img src="img/situations/usage-daily.png" alt="" class="responsive radius-border"></a>
							<div class="situations__item__name situations__item__name1 menu">
              <a id="situation_img_action" href="#" onclick="openModal('Modal_Usage_Daily'); return false;">Повседневное использование</a>
            </div>
            <div class="situations__item__desc">
              <p>Безопасно храните и вводите данные банковских карт, пароли от соцсетей и электронной почты</p>
            </div>
						
						</div>
            
          </div>

          <div class="situations__item  situations__item_right">
            <div class="situations__item__img-wrap  situations__item__img-wrap2 menu">
              <a href="#" onclick="openModal('Modal_Usage_Geek'); return false;"><img src="img/situations/usage-geek.png" alt="" class="responsive radius-border"></a>
							 <div class="situations__item__name situations__item__name2 menu">
              <a href="#" onclick="openModal('Modal_Usage_Geek'); return false;">Крутой технологичный подарок</a>
							</div>
							<div class="situations__item__desc">
								<p>Подарите вашему другу-гику что-то действительно полезное и необычное</p>
							</div>
						</div>
           
          </div>

          <div class="situations__item  situations__item_left">
            <div class="situations__item__img-wrap  situations__item__img-wrap3 menu">

              <a href="#" onclick="openModal('Modal_Usage_Business'); return false;"><img src="img/situations/usage-business.png" alt="" class="responsive radius-border"></a>
							 <div class="situations__item__name situations__item__name3 menu">
              <a href="#" onclick="openModal('Modal_Usage_Business'); return false;">Инструмент для бизнеса</a>
							</div>
							<div class="situations__item__desc">
								<p>Безопасно храните и передавайте корпоративные данные</p>
							</div>
						</div>
           
          </div>

          <div class="situations__item  situations__item_right">
            <div class="situations__item__img-wrap  situations__item__img-wrap4 menu">
              <a href="#" onclick="openModal('Modal_Usage_Digital'); return false;"><img src="img/situations/usage-digital.png" alt="" class="responsive radius-border"></a>
							 <div class="situations__item__name situations__item__name4 menu">
              <a href="#" onclick="openModal('Modal_Usage_Digital'); return false;">Помощник digital-маркетолога</a>
            </div>
            <div class="situations__item__desc">
              <p>Быстро переключайтесь между аккаунтами и компьютерами</p>
            </div>
						</div>
           
          </div>



        </div>
			</div>
			{# <div class="row justify-content-center">
				<div class="col-11">
						<div class="situations__item__bitcoin">
							<div class="situations__item__bitcoin__inner-wrap ">
								<div class="situations__item__bitcoin__image-wrap">
									<img src="img/situations/usage-bitcoin.png" alt="" class="responsive">
								</div>
								<div class="situations__item__bitcoin__content">
									<div class="situations__item__bitcoin__name menu">
										<a href="#" onclick="openModal('Modal_Usage_Bitcoin'); return false;">Работа с криптовалютами</a>
									</div>
									<div class="situations__item__bitcoin__desc">
										<p>Вводите ключи от бирж и криптокошельков</p>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div> #}
      
			
    </div>
  </div>
  
</div>