<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="situations__item__bitcoin">
        <div class="situations__item__bitcoin__image-wrap">
          <img src="img/situations/bitok.png" alt="" class="responsive">
        </div>
        <div class="situations__item__bitcoin__content">
          <div class="situations__item__bitcoin__name">
            <a href="">Работа с криптовалютами</a>
          </div>
          <div class="situations__item__bitcoin__desc">
            <p>Вводите ключи от бирж и криптокошельков</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>