<div id="steps" class="steps">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
				<h2 class="">От первой записи до входа: 4 шага</h2>
				<div class="col-10 offset-1 ">
					<p>Настройка для аутентификации через Какаду не займет много времени, зато заметно облегчит работу.</p>
				</div>
        
      </div>
    </div>
    <div class="row">
      <div class="col offset-md-3 col-md-6">
        <div class="container slider-container">
          <div class="row no-gutters">
            <div class="col-3 col-md-3">
              <div class="counter-wrap">
                <div class="number">
                  <span id="slider-nav-number" class="counter"></span>
                </div>
                <div id="owlCustomControls" class="slider-container-controls">
                  <div id="slider-nav-prev" class="control control-left">
											<i class="far fa-lg  fa-arrow-alt-circle-left"></i>
                  </div>
                  <div id="slider-nav-next" class="control control-right">
											<i class="far fa-lg  fa-arrow-alt-circle-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9 col-md-9">
              <div class="slider-content">
                <div class="owl-carousel">
                  <div class="div steps-item">
                    <img src="img/steps_slider/step_01.png" alt="" class="responsive">
                    <h4>Запишите пароли <br> на Какаду</h4>
                    <p><a href="app.html" class="accent-link">Скачайте</a> на компьютер приложение Kakadu Manager для
                      первой настройки устройства. C помощью удобного интерфейса установите единый PIN-код доступа,
                      запишите на устройство имеющиеся пароли или сгенерируйте надежные новые пароли.</p>
                    <div class="link-wrap">
                      <i class="far fa-lg  fa-arrow-alt-circle-right"></i>
                      <a href="/files/kakadu-manual.pdf" class="text-link">Как работать в Kakadu Manager</a>
                    </div>
                  </div>

                  <div class="div">
                    <img src="img/steps_slider/step_02.png" alt="">
                    <h4>Подключите Какаду к компьютеру или смартфону</h4>
                    <p>Подключите Какаду через USB к компьютеру, ноутбуку, смартфону или планшету. Устройство определит
                      Какаду как стандартную клавиатуру. Дополнительных драйверов не нужно.</p>
                  </div>

                  <div class="div">
                    <img src="img/steps_slider/step_03.png" alt="">
                    <h4>Разблокируйте Какаду, введя PIN</h4>
                    <p>PIN гарантирует, что злоумышленник не сможет разблокировать устройство. После 5 неудачных попыток
                      ввода устройство блокируется, после 15 неудачных попыток происходит полное стирание памяти
                      устройства.</p>
                  </div>

                  <div class="div">
                    <img src="img/steps_slider/step_04.png" alt="">
                    <h4>Вводите нужные данные</h4>
                    <p>Зайдите на сайт или в приложение, где требуется ввод логина и пароля. Нажмите пару кнопок на
                      устройстве, и Какаду сам введет нужные данные за вас. Готово!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>