<div class="team__wrap bg-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9">
        <div id="team" class="section team">
          <div class="section__header team__header">
            <h2 class="section-header">Команда Kakadu</h2>
          </div>
          <div class="section__desc team__desc">
            <p>Настройка для аутентификации через «Какаду» не займет много времени, зато заметно облегчит работу</p>
          </div>
          <div class="team_gallery_wrap">
            <div class="team_gallery_item">
              <div class="team_gallery_item__image">
                <img src="img/team/team-shitov-main.png" alt="" >
              </div>
              <div class="team_gallery_item__name">
                <h4>Максим Шитов</h4>
              </div>
              <div class="team_gallery_item__desc">
                <p>Железо и защита данных</p>
              </div>
            </div>
            <div class="team_gallery_item">
              <div class="team_gallery_item__image">
                <img src="img/team/team-sedov-main.png" alt=""  >
              </div>
              <div class="team_gallery_item__name">
                <h4>Александр Седов</h4>
              </div>
              <div class="team_gallery_item__desc">
                <p>Программирование</p>
              </div>
            </div>

          </div>
          <a href="team.html" class="btn btn-accent btn-accent2 btn-accent4">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>