{% extends 'base.njk' %}

{% set page = "partners" %}

{% block content %}
  {% include 'partials/nav-top.njk' %}
<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="page-content__header">
						<h1>Корпоративным заказчикам</h1>
					</div>
					<div class="page-content__social  d-none d-md-block">
						<div class="page-content__social_item page-content__social_item1 d-flex align-items-center justify-content-center" >
							<a href="#" class="page-content__socialIcon1">
									<i class="fas fa-share-alt"></i>
							</a>
						</div>
						<div class="page-content__social_item page-content__social_item2 d-flex align-items-center  justify-content-center ">
							<a href="#" class="page-content__socialIcon2">
									<i class="fab fa-vk"></i>
							</a> 
						</div>
						<div class="page-content__social_item page-content__social_item3 d-flex align-items-center  justify-content-center ">
							<a href="#"  class="page-content__socialIcon3">
									<i class="fab fa-facebook-f"></i>
							</a>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="container ">
    <div class="row">
      <div class="col">
        <div class="page-content w-800">
          
          <p>В рамках компании аппаратный менеджер паролей Какаду могут использовать специалисты, которые переключаются между разными аккаунтами на разных компьютерах, например, разработчики, системные администраторы, операторы баз данных, бухгалтеры.</p>
          <p>Кроме того, Kakadu можно брендировать под фирменный стиль компании и использовать в качестве подарков или премиум-сувениров для ключевых клиентов и сотрудников.</p>
          <p>Напишите нам, чтобы получить тестовые образцы и обсудить условия сотрудничества. Мы с удовольствием проведем презентацию Какаду и оставим вам тестовые образы.</p>
          <h2>Партнерам</h2>
          <p>Если вы хотите продавать аппаратный менеджер паролей Какаду, напишите нам. Мы предлагаем различные агентские программы и гибкие условия поставок.</p>
        </div>
      </div>
    </div>
  </div>


  {% include 'partials/wave.njk' %}
  {% include 'partials/footer.njk' %}

{% endblock %}