{% macro active(activePage) %}
  {% if activePage == 'index' %}
    <div class="sidebar-tabs ">
      <div class="sidebar-header-icon  d-inline-block clearfix" style="z-index: 100;">
        <div class="left-marker bg-green clearfix"></div>
        <div class="sidebar-header-icon-img bg-green">
          <img src="img/icons/home-2.png" alt="" class="">
        </div>
      </div>
      <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 90;">
        <div class="left-marker bg-yellow clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/user-3.png" alt="" class="">
        </div>
      </div>
      <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 80;">
        <div class="left-marker bg-red clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/like-2.png" alt="" class="">
        </div>
      </div>
    </div>
  {% endif %}
  {% if activePage == 'about-me' %}
    <div class="sidebar-tabs ">
      <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 100;">
        <div class="left-marker bg-yellow clearfix"></div>
        <div class="sidebar-header-icon-img bg-yellow">
          <img src="img/icons/user-3.png" alt="" class="">
        </div>
      </div>
      <div class="sidebar-header-icon  d-inline-block clearfix" style="z-index: 90;">
        <div class="left-marker bg-green clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/home-2.png" alt="" class="">
        </div>
      </div>
      <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 80;">
        <div class="left-marker bg-red clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/like-2.png" alt="" class="">
        </div>
      </div>
    </div>
  {% endif %}
  {% if activePage == 'health-status' %}
    <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 100;">
      <div class="left-marker bg-red clearfix"></div>
      <div class="sidebar-header-icon-img bg-red">
        <img src="img/icons/like-2.png" alt="" class="">
      </div>
    </div>
    <div class="sidebar-tabs">
      <div class="sidebar-header-icon d-inline-block clearfix" style="z-index: 90;">
        <div class="left-marker bg-yellow clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/user-3.png" alt="" class="">
        </div>
      </div>
      <div class="sidebar-header-icon  d-inline-block clearfix" style="z-index: 80;">
        <div class="left-marker bg-green clearfix"></div>
        <div class="sidebar-header-icon-img">
          <img src="img/icons/home-2.png" alt="" class="">
        </div>
      </div>
    </div>
  {% endif %}

{% endmacro %}
